{% for host in groups[range_id] | sort %}
{% if 'ansible_host' in hostvars[host] and hostvars[host]['ansible_host'] != "" %}
{{ hostvars[host]['ansible_host'] }}     {{ hostvars[host]['inventory_hostname'] }}
{{ hostvars[host]['ansible_host'] }}     {{ hostvars[host]['inventory_hostname'] | regex_replace('^.*?-', '') }}
{% endif %}
{% endfor %}
