### VScode ###
.vscode

### Draw.io ###
.*.bkp

### VIM ###
.swp

### Ansible ###
*.retry
.requirements-installed
user-provided-files/*
!user-provided-files/.git-keep
vars.yml
user-management/user-creds/*
hosts.yml

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Packer ###
# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

### Packer Patch ###
# ignore temporary output files
output-*/
