---
# https://getadmx.com/?Category=Windows_10_2016&Policy=Microsoft.Policies.TerminalServer::TS_DISABLE_CONNECTIONS
- name: Allow users to connect remotely by using Remote Desktop Services
  win_regedit:
    path: '{{ item }}'
    name: fDenyTSConnections
    data: 0x00000000
    type: dword
    state: present
  register: register_remote_desktop_enabled
  loop:
    - "HKLM:\\SYSTEM\\CurrentControlSet\\Control\\Terminal Server\\"
    - "HKLM:\\SOFTWARE\\Policies\\Microsoft\\Windows NT\\Terminal Services"

- name: Ensure Remote Desktop Group rules are enabled 1
  community.windows.win_firewall_rule:
    group: "Remote Desktop"
    enabled: true

- name: Ensure Remote Desktop Group rules are enabled 2
  community.windows.win_firewall_rule:
    group: "@FirewallAPI.dll,-28752" # See https://github.com/ansible-collections/community.windows/issues/495
    enabled: true
