---
- name: Add SMB allow rule
  community.windows.win_firewall_rule:
    name: Allow RDP
    action: allow
    description: Allow SMB From Any
    direction: in
    enable: true
    localport: 445
    profile: any
    protocol: TCP
    remoteip: any
    profiles: domain,private,public
    state: present
  when: firewall_service_running
