/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9b7a33;
  --ifm-color-primary-dark: #8b6e2e;
  --ifm-color-primary-darker: #84682b;
  --ifm-color-primary-darkest: #6c5524;
  --ifm-color-primary-light: #aa8638;
  --ifm-color-primary-lighter: #b28c3b;
  --ifm-color-primary-lightest: #c39c49;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #caa847;
  --ifm-color-primary-dark: #bf9c37;
  --ifm-color-primary-darker: #b49334;
  --ifm-color-primary-darkest: #94792b;
  --ifm-color-primary-light: #d0b25c;
  --ifm-color-primary-lighter: #d3b767;
  --ifm-color-primary-lightest: #dcc687;
}

.footer__copyright {
  font-size: small;
}

.code-block-terminal-command-local:before {
  content: 'local:~$';
  margin-right: 10px;
  color: rgb(202, 168, 71);
}

.code-block-terminal-command-goad:before {
  content: 'local:~/GOAD/ansible$';
  margin-right: 10px;
  color: rgb(202, 168, 71);
}

.code-block-terminal-command-ludus:before {
  content: 'user@ludus:~$';
  margin-right: 10px;
  color: rgb(202, 168, 71);
}

.code-block-terminal-command-ludus-root:before {
  content: 'root@ludus:~$';
  margin-right: 10px;
  color: rgb(202, 168, 71);
}

.code-block-terminal-command-user1:before {
  content: 'user1:~$';
  margin-right: 10px;
  color: rgb(202, 168, 71);
}

.code-block-terminal-command-user-at-debian:before {
  content: 'user@debian12:~$';
  margin-right: 10px;
  color: rgb(202, 168, 71);
}

.code-block-terminal-command-powershell:before {
  content: 'PS C:\>';
  margin-right: 10px;
  color: rgb(202, 168, 71);
}

