{
    on_demand_tls {
        ask http://localhost:5555/
    }
    pki {
        ca local {
            name "Ludus Internal CA"
            root_cn "Ludus Internal CA - Root"
            intermediate_cn "Ludus Internal CA - Intermediate"
        }
    }
}

# Just a hack to get around the requirement to have an "ask" server for certs
# Respond "200" aka "yes" to any request for a cert. Certs for everyone!
http://localhost:5555 {
	respond 200
}


https:// {
    # Handle authentication requests
    handle_path /auth/v1/* {
        reverse_proxy http://192.0.2.1:8000
    }

    # Handle all other requests
    handle {
        reverse_proxy ludus-gui:3000
    }

    # Configure TLS with a self-signed certificate
    tls internal {
        on_demand
    }
}