server=192.0.2.254
interface={{ ludus_nat_interface }}
dhcp-range=192.0.2.50,192.0.2.100,255.255.255.0,5m
dhcp-option={{ ludus_nat_interface }},3,192.0.2.254
dhcp-option={{ ludus_nat_interface }},6,192.0.2.254