#!/bin/bash
cat << EOF

This is a Ludus host.

Ludus is a project to enable teams to quickly and
safely deploy test environments (ranges) to test tools and
techniques against representative virtual machines.

Ludus leverages Proxmox which is licensed under APGLv3.

EOF
echo -n "Ludus Version: "
/opt/ludus/ludus-server --version
